html,
body {
  padding: 0;
  margin: 0;
  font-family: Oxygen, sans-serif;
  background: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,h2,h3{
  font-style: italic ;
  text-transform: uppercase;
}

h2,h3{
  text-shadow: -2px 0 0 #02FFE180, 2px 0 0 #FF69B480;
}